<script setup>
import { useMainStore } from '../../stores/mainStore';
import { useStyleStore } from '../../stores/styleStore';

const mainStore=useMainStore();
const styleStore=useStyleStore();
function handleDarkMode() {
  styleStore.toggleDarkMode();
}
</script>
<template>
      <header class="border border-gray-600 p-1 flex">
      <nav class="flex justify-start gap-2">
        <RouterLink to="/">home</RouterLink>
        <RouterLink to="/posts">posts</RouterLink>
        <RouterLink to="/users">users</RouterLink>
        <RouterLink to="/login">login</RouterLink>
      </nav>
<span class="text-red-500 text-base mx-7">
  {{ mainStore.userInfo?.username}}
</span>
<label class="relative inline-flex items-center mr-5 cursor-pointer">
  <input @change="handleDarkMode" type="checkbox" value="" class="sr-only peer" checked>
  <div class="w-11 h-6 bg-gray-200 rounded-full peer
   peer-focus:ring-4 peer-focus:ring-red-300
   peer-focus:bg-black 
    dark:peer-focus:ring-red-800 dark:bg-gray-200 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] 
    after:absolute after:top-0.5 
    after:left-[2px] after:bg-white after:border-gray-300
     after:border after:rounded-full after:h-5 after:w-5 after:transition-all
     dark:border-gray-600 peer-checked:bg-red-600"></div>
  <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">darkmode</span>
</label>
  </header>
</template>
<style scoped>

.router-link-exact-active {
  color: green;
  border-bottom: 2px solid red;
  padding-bottom: 5px;
}

.router-link-exact-active:hover {
  background-color: rgb(154, 174, 123);
}

</style>