<script setup>
import Header from "@/components/widgets/Header.vue";
import FooterVue from "@/components/widgets/FooterVue.vue";
import {RouterView} from 'vue-router';
import { useStyleStore } from '../../stores/styleStore';

const styleStore=useStyleStore();
</script>
<template>
<div :class="{dark:styleStore.darkMode}" >
    <section class=" bg-gray-50 dark:bg-slate-800 dark:text-slate-100">
  <Header/>
    <section class="container flex flex-col items-center px-4">
            <RouterView/>
    </section>

    <FooterVue/>
    </section>

</div>
  
</template>