<script setup>
import { RouterView } from "vue-router";
</script>
<template>
    <section class="border-2 border-green-600 p-4 flex flex-col items-center container">
 <RouterView/>
    </section>
</template>