<script setup>
import { reactive, ref } from "vue";
import Loader from "@/components/common/Loader.vue";
import axios from "axios";
import Swal from 'sweetalert2'
const formData = reactive({
    title:'',
    body:''
});
const loading=ref(false);

const titleError=ref('');
const bodyError=ref('');
function validateForm() {
  if (formData.title==='' ) {
    titleError.value="fill the title"
  }
  if(formData.body===''){
    bodyError.value="fill the body";
    return
  }
  creatPost();
};
 function creatPost() {
   loading.value=true;
  axios.post("/posts",formData)
  .then(function (response) {
    loading.value=false;
  Swal.fire({
  icon: 'success',
  title: 'post created',
  text: 'ok!',
})
   return response.data;
  })
  .catch(function (error) {
    console.log(error);
  });


}
</script>
<template>
    <div
  class="w-1/3 rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
  <form @submit.prevent="validateForm">
    <!--title input-->
    <div class="relative mb-6" data-te-input-wrapper-init>
      <input
      v-model.lazy.trim="formData.title"
        type="text"
        class="peer block min-h-[auto] w-full rounded border-0 bg-gray-100 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear"
        id="exampleInput7"
        placeholder="title" />
  <div v-if="titleError">
    <p>
      {{titleError}}
    </p>
  </div>
    </div>



    <!--Message textarea-->
    <div class="relative mb-6" data-te-input-wrapper-init>
      <textarea
      v-model="formData.body"
        class="peer block min-h-[auto] w-full rounded border-0 bg-gray-100 px-3 py-[0.32rem]"
        id="exampleFormControlTextarea13"
        rows="6"
        placeholder="Message"></textarea>
      <div v-if="bodyError">
    <p>
      {{bodyError}}
    </p>
  </div>
    </div>

 

    <!--Submit button-->
    <button
      type="submit"
      class="btn w-full"
     >
     <Loader v-if="loading"/>
  create post
    </button>
  </form>
</div>
</template>