<script setup>
import { reactive,ref } from "vue";
import { useMainStore } from "@/stores/mainStore.js";
import FormField from "../components/form/FormField.vue";
import FormControl from "../components/form/FormControl.vue";
import { mdiAccount, mdiAsterisk } from "@mdi/js";
const formData = reactive({
  username: "mor_2314",
  password: "83r5^_",
});
const passError=ref('');
const usernameError=ref('');
const mainStore=useMainStore()

function validateForm() {
  if(formData.password===''&&formData.username ===''){
    passError.value="fillllll password";
    usernameError.value="fillllll username";
  }else if(formData.username ===''){
   usernameError.value="fillllll username";
   passError.value="";
  }else if(formData.password===''){
    passError.value="fillllll password";
    usernameError.value="";
  }
   else{
    handleLogin()
  }
}
function handleLogin() {
  usernameError.value="";
  passError.value="";
mainStore.loginUser(formData);
mainStore.setUser(formData);

}
</script>

<template>
  <div
    class="mt-12 flex justify-center items-center w-1/3 rounded-lg bg-gray-100 p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] m-auto h-full"
  >
 
    <component :is="'!div'==='div'?'div':'form'" @submit.prevent="validateForm">
<FormField label="username" help="Please enter your username">
          <FormControl
            v-model="formData.username"
            :icon="mdiAccount"
            name="username"
            autocomplete="username"
          />
        </FormField> 
        <h3 v-if="usernameError" class="text-red-500">
    {{ usernameError }}
  </h3>
        <FormField label="Password" help="Please enter your password">
          <FormControl
            v-model="formData.password"
            :icon="mdiAsterisk"
            type="password"
            name="password"
            autocomplete="current-password"
          />
        </FormField>
   
  <h3 v-if="passError"  class="text-red-500">
    {{ passError }}
  </h3>

      <!--Submit button-->
      <button
        type="submit"
        class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-green-600 shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        Submit
      </button>
    </component>
    
  </div>
</template>
