<script setup>
import { reactive,ref} from 'vue';
import PostCard from "@/components/common/PostCard.vue";
import Loader from "@/components/common/Loader.vue";
import { axiosGet } from '../utils/httpClient';

const posts=ref([])
const loading=ref(true);
async function fetchPosts() {
    const res=await axiosGet("posts");
     posts.value=res;
     loading.value=false;
};
fetchPosts()
</script>
<template>
    <h1 class="text-green-300">
        this is posts page
    </h1>
    <RouterLink class="btn" to="/create">create post</RouterLink>
<section >
  <div v-if="!loading" class="grid grid-cols-3 gap-3">
        <PostCard  v-for="post in posts" :post="post" :key="post.id"/>
  </div>

  <div v-else>
    <Loader/>
  </div>
</section>

</template>