<script setup>
import { useRoute } from "vue-router";
import PostCard from "../components/common/PostCard.vue";
import Loader from "../components/common/Loader.vue";
import { useAxiosGet } from "../composables/useAxiosGet";
const router = useRoute();
const { loading, error, data } = useAxiosGet(`posts/${router.params.id}`);
</script>
<template>
  <div v-if="!loading">
    <div>
      <router-link
        class="btn mb-4"
        :to="{ path: '/posts', name: 'editPost', params: { id: data.id } }"
        >edit post</router-link
      >
    </div>
    <PostCard :post="data" />
  </div>

  <div v-else>
    <Loader />
  </div>
</template>
