<script setup>
import { useRoute } from "vue-router";
import UserCard from "../components/common/UserCard.vue";
import { useAxiosGet } from "../composables/useAxiosGet";
const router = useRoute();

const { loading, error, data } = useAxiosGet(`users/${router.params.id}`);
</script>
<template>
  <UserCard v-if="!loading" :user="data" />
  <div v-else>
    <div
      class="inline-block h-8 w-8 animate-spin rounded-full border-4 border-solid border-red-500 border-r-transparent align-[-0.125em] text-red-500 motion-reduce:animate-[spin_1.5s_linear_infinite]"
      role="status"
    >
      <span
        class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
        >Loading...</span
      >
    </div>
  </div>
</template>
