<script setup>
import { ref } from "vue";
import { useAxiosGet } from "../composables/useAxiosGet";
import UserCard from "../components/common/UserCard.vue";

const title = ref("users page");
const { data, loading, error } = useAxiosGet("users");
</script>
<template>
  <h1 class="text-blue-500 font-bold text-[40px]">{{ title }}</h1>
  <div v-if="!loading" class="grid grid-cols-4 w-full">
    <UserCard v-for="user in data" :key="user.id" :user="user" />
  </div>
  <div v-else>
    <div
      class="inline-block h-8 w-8 animate-spin rounded-full border-4 border-solid border-red-500 border-r-transparent align-[-0.125em] text-red-500 motion-reduce:animate-[spin_1.5s_linear_infinite]"
      role="status"
    >
      <span
        class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
        >Loading...</span
      >
    </div>
  </div>
</template>
