<script setup>
import {defineProps,defineEmits} from "vue"
const props=defineProps(['title','color']);
const emit=defineEmits(['increment'])
const {color,title}=props;
function handleIncriment() {
    emit('increment',4);
}
</script>
<template>
    <button @click="handleIncriment" class="btn  p-2 font-medium text-lg text-black">
{{ props.title }}
    </button>
</template>
<style scoped>
.btn{
    background-color:v-bind(color);
}
</style>