<script setup>
import { defineProps } from "vue";
const props = defineProps({
  post: Object,
});
</script>
<template>
  <div
    class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
 
    <router-link :to="{name:'singlePost',path:'posts',params:{id:props.post.id}}">
      <h5
        class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white"
      >
        {{ props.post.title }}
      </h5>
    </router-link>
    <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">
  {{ props.post.body }}
    </p>
 
  </div>
</template>
