<script setup>
</script>
<template>

        <h1>home</h1>
        <div class="border p-8 m-auto mb-8">
            <p class="text-base">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis architecto possimus minima libero. Ut consequatur iusto vero aspernatur sint facilis nemo saepe explicabo cupiditate nesciunt, amet corrupti vitae, neque nihil!
            </p>
        </div>
        <div class="mb-4">
            <router-link class="btn" to="/posts">go to posts</router-link>
        </div>

</template>